@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #__next {
    @apply max-w-screen-xl m-auto;
  }
  .slide-button {
    background-size: 200% 100%;
    background-position: calc(-23px) 0;
    transition: background-position 0.25s ease, color 0.25s ease;
    background-image: linear-gradient(-45deg, #fdcf41 50%, transparent 0);
  }
}

.product_select__control:hover .product_select__indicator {
  color: #fdcf41;
}

.hero-banner-header {
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.cart-item-container::-webkit-scrollbar {
  display: none;
}
